<br />
<br />
<br />
<br />
<br />
<div class="container">
<div class="jumbotron">
    <div class="container">
        <h1 class="display-3">Hello,
            <%= user %>!</h1>
        <p></p>
        <p>
            <a class="btn btn-primary btn-lg" href="/home">ENTER</a>
        </p>
    </div>
</div>
</div>